.pp_background {
  background: white;
}

.slide_menu_button {
  position: absolute;
  //top: 15px;
  z-index: 99;
}

.title_icon_group {
  //border: 1px solid black;
  line-height: 70px;
  width: 45px;
  height: 60px;
  text-align: center;
}

.slide_menu_button ion-icon.ion-navicon {
  font-size: 2.3em;
  color: black;
  margin: 0 auto;
}




